body {
  background-image: url("../img/Stardew\ wallpaper.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;

  min-height: 100vh;
  font-family: "Mona12", sans-serif;
  font-size: xx-large;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: auto;
}

.gotomodimg {
  width: 150px;
  margin-left: 1350px;
  bottom: 650px;
  position: absolute;
}

.gotomod h1 {
  position: absolute;
  left: 1425px;
  bottom: 640px;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #e37b3e;
  background-color: transparent;
  user-select: none;
  text-shadow:
    -2px -2px 0px #422416,
    2px 2px 0px #422416,
    8px 6px 0px #9a6454;
  transition: transform 0.2s ease;
  font-size: 40px;
}

.modexplanation1 {
  width: 180px;
  margin-left: 10px;
  bottom: 630px;
  position: absolute;
}

.mod1 h1 {
  position: absolute;
  left: 42px;
  bottom: 70px;
  z-index: 10;
  color: #e37b3e;
  background-color: transparent;
  user-select: none;
  text-shadow:
    -2px -2px 0px #422416,
    2px 2px 0px #422416,
    6px 4px 0px #9a6454;
  font-size: 40px;
}

.smapi1 {
  position: absolute;
  width: 350px;
  left: 350px;
  bottom: 340px;
}

.mod1_H1 h1 {
  position: absolute;
  color: #531209;
  background-color: transparent;
  user-select: none;
  z-index: 10;
  left: 980px;
  bottom: 600px;
  font-size: 25px;
}

.mod1_img1 {
  width: 380px;
  height: 300px;
  margin-left: 940px;
  bottom: -100px;
  position: absolute;
}

/* ////// */

.modexplanation2 {
  width: 180px;
  margin-left: 10px;
  bottom: 50px;
  position: absolute;
}

.mod2 h1 {
  position: absolute;
  left: 42px;
  bottom: 650px;
  z-index: 10;
  color: #e37b3e;
  background-color: transparent;
  user-select: none;
  text-shadow:
    -2px -2px 0px #422416,
    2px 2px 0px #422416,
    6px 4px 0px #9a6454;
  font-size: 40px;
}

.smapi2 {
  position: absolute;
  width: 350px;
  left: 350px;
  bottom: -240px;
}

.mod2_H1 h1 {
  position: absolute;
  color: #531209;
  background-color: transparent;
  user-select: none;
  z-index: 10;
  left: 980px;
  bottom: 10px;
  font-size: 23px;
}

.mod2_img1 {
  width: 380px;
  height: 300px;
  margin-left: 940px;
  bottom: 500px;
  position: absolute;
}
